        <%- include ../partials/header.ejs %>

        <%- include ../partials/main_nav.ejs %>


        <main class="container">
       

        <div class="row">
            <div class="offset-md-3 col-md-4">
            

                <h1> Login here: </h1>

                <form action="" method="POST" autocomplete="off" id="login-form">
                    <fieldset class="form-group">
                    <label for="userName">User Name:</label>
                    <input type="text" class="form-control" 
                    placeholder="Enter user Name"
                    name="username" id="userName"  required autofocus>
                    
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control" id="password"
                    placeholder="Enter the password:"
                    name="password"  required>
                
                </fieldset>
                   

                <fieldset class="form-group text-right">
                        <input type="submit" class="btn btn-success" value="Login">


                        <a href="/home">
                        <input type="button" class="btn btn-warning" value="Cancel">

                        </a>

                </fieldset>
            
                </form>

                <p id="error-message" style="color: rgba(255, 0, 0, 0.356);"></p>

            </div>
            
        </div> 

        </main>
    <!--script link to verify default username and password-->
    
        <script src="Scripts/login_check.js"></script>
       

        <%- include ../partials/bottom_nav.ejs %>  

        <%- include ../partials/footer.ejs %>